

header{
    width: 90%;
    margin: auto;
    padding: 15px;
    border-bottom: 1px solid #c7866a;
    font-family: Cinzel;
}

nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #c7866a;
    font-size: 25px;
    cursor: pointer;
}
#menu{
    text-decoration: none;
    cursor: pointer;
}

#menu:hover{
    color: white;
    background: #402d25;
    padding: 5px 3px;
}
.modal{
    height: 75px;
    width: 75px;
    background-color: #402d25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    color: white;
}
#create{
    text-decoration: none;
    color: white;
}
#login{
    cursor: pointer;
}